# fly.toml app configuration file generated for baza-firm-fe on 2026-02-22T12:09:58Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'baza-firm-fe'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 4200
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
