/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f7fa;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
